<% content_for :content do %>
  <% content_for :subcontent do %>
    <h4 class="card-title center-align black-text">Edit your account</h4>
    <% if @message %>
      <div class="center">
        <span class="error"><%= @message %></span>
      </div>
    <% end %>
    <%= form_with model: @account do |form| %>
      <div class="row">
        <div class="input-field col s12">
          <%= form.label :username, class: "black-text" %>
          <%= form.text_field :username, class: "black-text", readonly: true %>
        </div>
        <% @account.errors.full_messages_for(:username).each do |message| %>
          <div class="red-text">
            <span class="error"><%= message %></span>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= form.label :password, class: "black-text" %>
          <%= form.password_field :password, class: "black-text" %>
        </div>
        <% @account.errors.full_messages_for(:password).each do |message| %>
          <div>
            <span class="error"><%= message %></span>
          </div>
        <% end %>
      </div>
      <div class="row center-align">
        <%= form.submit "Confirm", class: "white-text waves-light btn" %>
      </div>
    <% end %>
  <% end %>
  <%= render "layouts/internalform" %>
<% end %>
