extends layout

append title
  = " - "
  = note.title

block content
  .row
    .col-lg-8
      h1.mt-4
        if note.favourite
          img(src="/static/star.svg")
        =note.title

      div !{note.content}

      div
        a.btn.btn-link(href=`/notes/${note.id}/edit`) Edit

        form.inline(method='POST', action=`/notes/${note.id}/delete`)
          input(type='hidden', name='_csrf', value=csrfToken)
          button.btn.btn-link(type='submit') Delete

        form.inline(method='POST', action=`/notes/${note.id}/report`)
          input(type='hidden', name='_csrf', value=csrfToken)
          button.btn.btn-link(type='submit') Report
