<!DOCTYPE HTML>
<html>
    <head>
        <title>EYANGCH Fan Art Maker <3</title>
        <style>
            .bg{
                background-image: url("https://cdn.discordapp.com/avatars/622575440305061910/e0fa5d8c91cc24f83af648736072d330.webp?size=256");
                background-repeat: repeat;
                opacity: 0.3;
                top: 0;
                left: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
                height: 300%; 
            }
            pre code {
                background-color: #eee;
                border: 1px solid #999;
                display: block;
                padding: 10px;
                font-size: 18px;
            }

            textarea {
            	width: 50%;
            	height: 400px;
                font-size: 18px;
            }
        </style> 
    </head>
    <body>
        <div class="bg"></div>
        <h1>Welcome to EYANGCH Fan Art Maker</h1>
        <h3>About</h3>
        <p>This is EYANGCH's biggest fan club. And CodeTiger (Alex Fan) is obviously EyangCH's BIGGEST FAN!!!</p>
        <h3>EYANGCH OTZ ACHIEVEMENT LIST OTZ OTZ OTZ</h3>
        <ul style="font-size: 20px;">
            <li>CF Master, WOW! EYANG OTZ OTZ OTZ</li>
            <li>GM performance <a href="https://codeforces.com/contest/1536">on a DIV 2</a>, WOW! EYANG OTZ OTZ OTZ</li>
            <li>USACO Platinunm, WOW! EYANG OTZ OTZ OTZ</li>
            <li>USAPhO Bronze Medalist, WOW! EYANG OTZ OTZ OTZ</li>
            <li>God at Web, Rev, and Crypto, WOW! EYANG OTZ OTZ OTZ</li>
            <li>Maintains the entire LIT infrastructure, WOW! EYANG OTZ OTZ OTZ</li>
            <li>Pico CTF Winner 5th place, WOW! EYANG OTZ OTZ OTZ</li>
            <li>Top 9 in Texas at the Texas UIL CS State Qualifier, WOW! EYANG OTZ OTZ OTZ</li>
            <li>National Cybersecurity Finalist, WOW! EYANG OTZ OTZ OTZ</li>
            <li>2 times AIME Qualifier, WOW! EYANG OTZ OTZ OTZ</li>
            <li>Best CPer in his entire school district, WOW! EYANG OTZ OTZ OTZ</li>
            <li>Has an OP Profile Picture, WOW! EYANG OTZ OTZ OTZ</li>
            <li>Cracked at playing the Cello, All-region Celloist, WOW! EYANG OTZ OTZ OTZ</li>
            <li>Has an OP personal website</a>, WOW! EYANG OTZ OTZ OTZ</li>
            <li>Has an OP Calories Tracker</a>, WOW! EYANG OTZ OTZ OTZ</li>
            <li>Has published arxiv research papers on Graph Theory, WOW! EYANG OTZ OTZ OTZ</li>
            <li>Made the website template that I stole to make this challenge, WOW! EYANG OTZ OTZ OTZ</li>
            <li>Is super OTZ OTZ OTZ, WOW! EYANG OTZ OTZ OTZ</li>

        </ul>
        <h3>Make Some Eyangch Fan Art 💖💖💖</h3>
        <form action="/makeArt" method="POST" id="makeArtForm">
            <textarea name="code" form="makeArtForm">Enter eyangch fan-art here :D</textarea><br>
            <input type="submit" value="Submit Code" style="font-size: 30px;margin-top: 10px;">
        </form>
        <h3>Example</h3>
        <pre>
            <code><%= `
<component name="ILoveEyangCH">
    <component name="Heart" x="10" y="10">
        <shape color="red">
            <point x="0" y="30"></point>
            <point x="30" y="0"></point>
            <point x="60" y="30"></point>
            <point x="90" y="0"></point>
            <point x="120" y="30"></point>
            <point x="60" y="90"></point>
        </shape>
    </component>
    <text x="0" y="300" font="bold 30pt Arial">EYANG OTZ OTZ OTZ!!!</text>    
</component>
<ILoveEyangCH x="50" y="50"></ILoveEyangCH>
<ILoveEyangCH x="130" y="100"></ILoveEyangCH>
<ILoveEyangCH x="210" y="150"></ILoveEyangCH>
                ` %></code>
        </pre>
        <h3>Documentation</h3>
        <p>Here is a quick summary <s>because I'm too lazy to write actual documentation</s>. You have 3 types of literals <%="<shape></shape>"-%> <%="<line></line>"-%> and <%="<text></text>"-%>. And you can make predefined components <%="<component></component>"-%> that can be nested within each other. However, note that you cannot nest predefined components while defining another component, so you can only use literals or declare new components. Positions are relative to the higher levels. The rest should be self-explanatory by reading the sample-code or just reading the interpreter (DM me if you have any further question).</p>
    </body>
</html>
